<%- include('header') %>

  <main>
    <div class="grid-row">
      <% mydata.forEach((toy)=> { %>
        <div class="grid-item">
          <%= toy.title.slice(0,30) %>
            <br />
            <a href=<%=toy.url %>>BUY</a>
        </div>
        <% }) %>
    </div>
  </main>

  <%- include('footer') %>